@import 'src/constants';

$header-height: 32px;

.root {
    display: flex;
    align-items: center;

    & > *:not(:first-child):not(:last-child) {
        margin-right: 25px;
    }
}

.link {
    display: inline-block;
}

.logo {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 32px;
    vertical-align: middle;
    background: url('../../../assets/images/guitar.png');
    filter: drop-shadow(0 0 3px $text-shadow-color);
}

.searchbar {
    flex: 1;
    position: relative;

    .searchInput {
        border: 1px solid $white-15;
        margin-top: 5px;
        padding: 0 5px 0 30px;
        width: 100%;
        height: $header-height;
        background: $background-main-color;
        color: $text-color;
        font-size: 18px;
        border-radius: 5px;

        &:hover, &:focus {
            border: 1px solid $white-50;
        }
    }

    .searchIcon {
        position: absolute;
        top: 9px;
        left: 4px;
        width: 24px;
        height: 24px;
        background: url('../../../assets/images/search.png');
        cursor: pointer;
    }
}
