.categoriesWrapper {
    margin-bottom: 15px;
    font-size: 13px;
}

.name {
    margin-bottom: 25px;
}

.mainInfoWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    & > div {
        width: 48.5%;
    }
}

.imageWrapper {
    width: 100%;
    height: 360px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.descriptionWrapper {
    & > *:not(:last-child) {
        margin-bottom: 25px;
    }

    .priceAndRatingWrapper {
        display: flex;
        justify-content: space-between;
    }

    .actionButton {
        cursor: pointer;
    }

    .actionButton:not(:last-of-type) {
        margin-right: 25px;
    }

    .description {
        text-align: justify;
    }
}
