.root {
    display: flex;

    .products {
        flex: 1;
        margin-left: 30px;
        width: 100%;

        & > *:not(:last-child) {
            margin-bottom: 20px;
        }

        .product {
            display: flex;

            .productItem {
                flex: 1;
            }

            .actions {
                flex: 0 0 100px;
                margin-left: 15px;
                background-color: rgba(0, 255, 0, 0.35);
            }
        }
    }

    .cart {
        flex: 0 0 160px;
        margin-left: 30px;

        //TODO: delete
        height: 400px;
        background: rgba(255, 255, 255, 0.35);
    }
}
