.root {
    .header {
        margin-bottom: 10px;
    }

    .products {
        width: 100%;

        & > *:not(:last-child) {
            margin-bottom: 20px;
        }

        .product {
            display: flex;

            .productItem {
                flex: 1;
            }

            .details {
                flex: 0 0 100px;
                margin-left: 15px;
                background-color: rgba(0, 255, 0, 0.35);
            }
        }
    }
}
