@import 'src/constants';

.root {
    display: flex;
    padding: 15px;
    background: $black-10;

    .image {
        flex: 0 0 100px;
        width: 100px;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .productInfo {
        flex: 1;
        margin-left: 15px;
        width: 100%;
    }
}
