a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}a{outline:0}input:focus{outline:0}button{cursor:pointer}

@import 'src/constants';

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $background-main-color;
    color: $text-color;
    text-shadow: 0 0 5px $text-shadow-color;
}

a {
    color: $text-color;

    &:hover {
        color: $link-color;
    }
}

h1 {
    font-size: 28px;
}

.root {
    display: flex;
	flex-direction: column;
	height: 100vh;
}

.contentWrapper {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

.header {
    flex-shrink: 0;
    background: $background-light-color;
    box-shadow: 0 5px 10px $black-5;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    background: $background-light-color;
    box-shadow: 0 -5px 10px $black-5;
}
