$background-main-color: #2d2d2d;
$background-light-color: #393939;
$background-dark-color: #1b1b1b;

$text-color: #e7e9eb;
$link-color: #33a7ff;
$text-shadow-color: black;

$accent-bright-color: #f48225;
$accent-dark-color: #344b3c;

$black-5: rgba(0, 0, 0, 0.05);
$black-10: rgba(0, 0, 0, 0.1);
$white-15: rgba(255, 255, 255, 0.15);
$white-50: rgba(255, 255, 255, 0.5);
