.root {
    display: flex;
}

.sidebar {
    flex: 0 0 160px;

    .filters {
        margin-top: 30px;
        width: 100%;
        height: 100px;
        background: rgba(255, 255, 255, 0.35);
    }
}

.products {
    flex: 1;
    margin-left: 30px;
    width: 100%;

    & > *:not(:last-child) {
        margin-bottom: 20px;
    }
}
